    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
    .new-wrapper {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding: 2px 0px 0px 0px;
        position: relative;
        margin-top: 10px;
    }
  
    .new-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 88%;
        position: relative;
        margin-right: -25px;

    }
    #modal_microphone_button{
        background-color: rgb(0, 0, 0);
        color: white;
        border: none; width: 80px;
        height: 80px;
        font-size: 36px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
  
    .new-logo img {
        max-height: 50px;
        z-index: 100;
    }
  
    /* New social icons for mobile */
    .new-social-icons {
        display: none;
        gap: 10px;
    }
  
    .new-social-icons a {
        text-decoration: none;
    }
  
    .new-social-icons img {
        width: 25px;
        height: 25px;
    }
  
    .new-menu {
        display: flex;
        gap: 20px;
        padding-top:0%;
    }
  
    .new-menu ul {
        list-style-type: none;
        display: flex;
        gap: 7px;
    }
    .new-buttons .inr-btn{
        color: black;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 50px;
    }
  .inr-btn:hover{
        background-color: rgb(225, 225, 225);
    }
  
    .new-menu a {
        text-decoration: none;
        color: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;;
        padding:10px 20px;
        border-radius: 50px;
    }
    .new-menu a:hover {
       background-color: rgb(235, 235, 235);
       text-decoration: none;
  
    }
    .new-buttons .new-btn {
        background-color: #000000;
        color: white;
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 25px;
        font-weight: bold;
        margin-left: 10px;
    }
  
    .new-buttons .new-btn:hover {
        background-color: #111111;
    }
  
    /* Hamburger Icon */
    .new-hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }
  
    .new-hamburger span {
        width: 25px;
        height: 2px;
        background-color: #464646;
    }
  
    /* Sidebar */
    .new-sidebar {
        position: fixed;
        top: 0;
        left: -3000px;
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        transition: 0.3s;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
  
    .new-sidebar ul {
        list-style-type: none;
        padding: 0;
    }
  
    .new-sidebar ul li {
        margin: 15px 0;
    }
  
    .new-sidebar ul a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 18px;
    }
  
    .new-sidebar .new-close-btn {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        align-self: flex-end;
    }
  
    /* New Overlay */
    .new-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255,0);
        display: none;
        z-index: 999;
    }
  
    /* Responsive */
    @media (max-width: 768px) {
        .new-wrapper{
            background-color: rgba(252, 252, 252, 0.8);
        }
        .new-sidebar{
            border-right:1px solid  rgb(232, 232, 232);
        }
        .new-sidebar ul a{
            font-size: 20px;
            color:black
  
        }
        .new-menu, .new-buttons {
            display: none;
        }
  
        .new-hamburger {
            display: flex;
        }
  
        /* Social Icons for Mobile */
        .new-social-icons {
            display: flex;
            gap: 10px;
        }
        .new-logo img {
        max-height: 90px;
        margin-left: -18%;
    }
        .new-logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    @media (max-width: 1281px) {
        .new-wrapper{
            background-color: white;
        }
        .new-sidebar{
            border-right:1px solid  rgb(232, 232, 232);
        }
        .new-sidebar ul a{
            font-size: 20px;
            color:black
  
        }
        .new-menu, .new-buttons {
            display: none;
        }
  
        .new-hamburger {
            display: flex;
        }
  
        /* Social Icons for Mobile */
        .new-social-icons {
            display: flex;
            gap: 10px;
        }
        .new-logo img {
        max-height: 30px;
        margin-left: -18%;
    }
  
        .new-logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    @media (min-width: 769px) and (max-width: 1281px){
        .new-wrapper{
            background-color: white;
        }
        .new-sidebar{
            border-right:1px solid  rgb(232, 232, 232);
        }
        .new-sidebar ul a{
            font-size: 20px;
            color:black
  
        }
        .new-menu, .new-buttons {
            display: none;
        }
  
        .new-hamburger {
            display: flex;
        }
  
        /* Social Icons for Mobile */
        .new-social-icons {
            display: flex;
            gap: 10px;
        }
        .new-logo img {
        max-height: 60px;
        z-index: 100;
    }
  
        .new-logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }


    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .clearfix::after {
        display: block;
        content: "";
        clear: both;
    }

    #form-input {
        margin-top: 6px;
        width: 100%;
        max-width: 584px;
        border: 2px solid #e0e0e0;
        border-radius: 50px;
        display: flex;
        padding: 0 8px 0 14px;
    }

    #search-icon {
        width: 33px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #micButton {
        width: 33px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px !important;
        margin-left: 15%;
        background-color: rgb(234, 234, 234, 0);
        cursor: pointer;
        border-radius: 50px;
        height: 40px; width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border:none !important;
    }

    #search-icon svg {
        width: 20px;
        height: 20px;
        fill: #000000;
    }

    #form-input input {
        border: none;
        outline: none;
        font-size: 0.7rem;
        flex-grow: 1;
        min-width: 50px;
        border-radius: 50px;
    }

    #searchInput::placeholder {
        color: #656565;
        /* Change this to your desired color */
        font-family: Roboto;
        font-weight: 400;
        font-size: 0.7 rem;
        opacity: 0.7;
        /* Adjust if needed (1 = fully visible, 0 = transparent) */
    }

    @media all and (min-width: 0px) and (max-width: 479px) {
        main {
            padding-top: 20px;
        }

        #form-input {
            width: 90%;
            /* Reduce width on mobile */
            height: 2.3rem;
            max-width: 400px;
            /* Further restrict maximum size */
            padding: 0 6px 0 10px;
            /* Adjust padding */
            border-radius: 50px;
            /* Slightly smaller border radius */
            border: 1px solid #959595;
        }

        #search-icon {
            width: 40px;
            /* Slightly smaller icon area */
            height: 40px;
            justify-content: center;
            /* Align center horizontally */
            align-items: center;
            /* Align center vertically */
        }

        #search-icon svg {
            width: 18px;
            /* Reduce SVG icon size */
            height: 18px;
        }

        #form-input input {
            font-size: 0.9rem;
            /* Slightly smaller font */
        }
    }

    @media (min-width: 769px) and (max-width: 1281px) {
        main {
            padding-top: 20px;
        }

        #form-input {
            width: 90%;
            /* Reduce width on mobile */
            height: 2.3rem;
            max-width: 400px;
            /* Further restrict maximum size */
            padding: 0 10px 0 10px;
            /* Adjust padding */
            border-radius: 50px;
            /* Slightly smaller border radius */
            border: 1px solid #b1b1b1;
        }

        #search-icon {
            width: 40px;
            /* Slightly smaller icon area */
            height: 40px;
            justify-content: center;
            /* Align center horizontally */
            align-items: center;
            /* Align center vertically */
        }

        #search-icon svg {
            width: 18px;
            /* Reduce SVG icon size */
            height: auto;
        }

        #form-input input {
            /* font-size: 0.9rem; Slightly smaller font */
        }

        #searchInput {
            padding: 1rem 2;
        }

    }