:root{
    /* Primary Colors */
    --primary_colour :rgb(255, 0, 0);
    --secondary_color:rgb(255, 106, 106);
    --accent_color: rgb(8, 214, 8);


    /* Theme Background and Foregroud Colours*/
    --holidayseva_background_light:rgb(249, 249, 249);
    --holidayseva_background_dark:rgb(242, 242, 242);

    /* Text Colours*/
    --text_black: #000000;    /* Dark gray text */
    --text-secondary: #777777;  /* Lighter gray text */

    --holidayseva_white: rgb(40, 16, 16);
    --holidayseva_red : rgb(255,0,0);
    --button_primary:black;
    --button_hover:grey;

}