:root{
 --holidayseva_black:rgb(0,0,0);
 --holidayseva-white:rgb(255,255,255);
 --holidayseva_grey_color:#bdc3c7;
 --holidayseva_grey:rgb(120, 120, 120);
 --holidayseva_blue_primary:#2980b9;
 --holidayseva_blue_light:#2980b9;
 --holidayseva_blue_darker:#34495e;
 --holidayseva_seagreen:#16404d;
 --holidayseva_yellow:#dda853;
 --holidayseva_yellow_pale:#DDA853;
}
:root{
    --holidayseva_button_padding:10px;
}

.main_package_name{
    color: var(--holidayseva_black);
}

.holidayseva_Holidays_Main_Wrapper{
    width: 80%;
    padding-left:5%;
    padding-right: 5%;
}