:root{
 --holidayseva_black:rgb(0,0,0);
 --holidayseva-white:rgb(255,255,255);
 --holidayseva_grey:rgb(120, 120, 120);
 --holidayseva_blue_primary:#2980b9;
 --holidayseva_blue_light:#2980b9;
 --holidayseva_seagreen:#16404d;
 --holidayseva_yellow:#dda853;
 --holidayseva_yellow_pale:#DDA853;

}

    /* Layout Styling */
    .container {
        display: flex;
        min-height: 100vh;
        background-color:rgb(255, 255, 255);
    }

    /* Sidebar Styling */
    .sidebar {
        width: 20%;
        background-color: var(--holidayseva_seagreen);
        color: var(--holidayseva-white);
        padding: 10px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .sidebar a {
        display: block;
        padding: 6px 15px;
        color: var(--holidayseva-white);
        text-decoration: none;
        margin-bottom: 5px;
        border-radius: 0px;
        transition: background-color 0.3s ease;
    }

    .sidebar a.active {
        background-color:var(--holidayseva_yellow_pale);
    }

    .sidebar a:hover {
        background-color:var(--holidayseva_yellow_pale);
    }

    /* Main Content Styling */
    .main-content {
        flex-grow: 1;
        padding: 10px;
    }

    .form-title {
        margin-bottom: 20px;
        color: #34495e;
        font-size: 1.5em;
        font-weight: bold;
    }

    /* Form Styling */
    .styled-form {
        background-color:var(--holidayseva-white);
        padding: 10px;
        border-radius:0px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 2px;
        font-weight: 600;
        color:rgb(0, 0, 0);
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 7px;
        border: 1px solid #bdc3c7;
        border-radius: 0px;
        font-size: 1rem;
        color: #2c3e50;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border-color: #3498db;
        outline: none;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    }

    .form-button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color:var(--holidayseva_blue_primary);
        color:var(--holidayseva-white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #2980b9;
    }

    .hidden {
        display: none;
    }

    /* Layout Styling */
    .container {
        display: flex;
        min-height: 100vh;
        background-color:var(--holidayseva-white);
    }

    /* Sidebar Styling */
    .sidebar {
        width: 20%;
        background-color: #16404D;
        color: white;
        padding: 10px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .sidebar a {
        display: block;
        padding: 6px 15px;
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
        border-radius: 0px;
        transition: background-color 0.3s ease;
    }

    .sidebar a.active {
        background-color: #DDA853;
    }

    .sidebar a:hover {
        background-color:rgb(210, 159, 77);
    }

    /* Main Content Styling */
    .main-content {
        flex-grow: 1;
        padding: 10px;
    }

    .form-title {
        margin-bottom: 20px;
        color: #34495e;
        font-size: 1.5em;
        font-weight: bold;
    }

    /* Form Styling */
    .styled-form {
        background-color: white;
        padding: 10px;
        border-radius:0px;
        /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 2px;
        font-weight: 600;
        color:rgb(0, 0, 0);
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 7px;
        border: 1px solid #bdc3c7;
        border-radius: 0px;
        font-size: 1rem;
        color: #2c3e50;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border-color:var(--holidayseva_blue_primary);
        outline: none;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    }

    .form-button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color:var(--holidayseva_blue_primary);
        color: var(--holidayseva-white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: var(--holidayseva_blue_light);
    }

    .hidden {
        display: none;
    }
